@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  .ResInfo {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include mainBox;
    background-color: $blueSecond;
    width: 65vw;
    height: 30vh;
    input {
      margin: 20px;
      line-height: 1;
    }
    .bottomBtns button {
      flex-direction: column;
      justify-content: space-around;
      @include smallBtn;
      // margin: 25px;
    //   margin-right: 80px;
    //   margin-left: 80px;
      &:hover {
        color: $bluePrimary;
        background-color: black;
        font-weight: 600;
      }
    }
  }
}
