@import "../../variables.scss";

.About {
    background-image: url("Clusters.png");
    // background-repeat: no-repeat;
    background-position: 0% 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
    align-content: space-around;    
    height: 100vh;
    .Part1 {
        background-color: black;
        height: 25vh;
        width: 35vw;
        margin: 20px;
        padding: 10px;
        line-height: 1.5;
        h1 {
            color: white;
        }
        p {
           color: $bluePrimary;
        }
        .Clusters {
            color: $purpleSecond;
        }
    }
    .Part2 {
        @extend .Part1
    }
}