@import "../../variables.scss";

.header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 20vh;
    width: 100vw;
    .Name h1 {
        margin-left: 20vw;
        position: relative;    
        font-size: 50px;
        line-height: .5;
        color: $purplePrimary;
    }
}

  .site-Header > * {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
  }

.topnavleft {
    margin-left: 0vw;
    h1 {
        display: inline;
        padding: 10px;
        margin: 5px;
        line-height: 1;
        font-size: 22px;
    }
    h1:hover {
        background-color: rgb(54, 54, 54);
        border-radius: 20px;
    } 
}

.Home {
    color: $bluePrimary;
}

.Dashboard {
    color: $bluePrimary;
}

.About {
    color: $pinkPrimary;
}

.FAQ {
    color: $greenPrimary;
}

.Contact {
    color: $purplePrimary;
}

.Logout {
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-family: $MainFont;
    font-weight: 200;
    padding: 10px;
    margin: 5px;
    line-height: 1;
    font-size: 22px;
}

.topnavleft .Logout:hover {
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    color: $bluePrimary;
}