.header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    background-color: black;
    height: 25vh;
    width: 100vw;
}

.topnavleft {
    margin-left: -15%;
}

.topnavleft h1 {
    /* margin-left: 0px; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* position: relative; */
    display: inline;
    padding: 10px;
    line-height: 1;
    font-size: 25px;
    
}

.Home {
    color: #38b6ff;
}

.About {
    color: #FF70A6;
}


.header .Name h1 {
    margin-left: 55%;
    position: relative;    
    font-size: 70px;
    line-height: .5;
    color:#a87dff;
}