@import "../../variables.scss";

.header {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 20vh;
    width: 100vw;
    overflow: hidden;
    .Name h1 {
        // margin-left: 5vw;
        // position: relative;    
        font-size: 65px;
        line-height: .5;
        color: $purplePrimary;
    }
}

  .site-Header > * {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
  }

.topnavleft {
    margin-left: 0vw;
    h1 {
        display: inline;
        padding: 12px;
        margin: 8px;
        line-height: 1;
        font-size: 28px;
        // background-color: black;
    }
    h1:hover {
        background-color: rgb(54, 54, 54);
        border-radius: 20px;
    } 
}

.Home {
    color: $bluePrimary;
}

.Dashboard {
    color: $bluePrimary;
}

.About {
    color: $pinkPrimary;
}

.FAQ {
    color: rgb(54, 177, 54);
}

.Contact {
    color: $purplePrimary;
    background-image: url("Pers-Proj.png");
}

.Logout {
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    font-family: $MainFont;
    font-weight: 200;
    padding: 10px;
    margin: 5px;
    line-height: 1;
    font-size: 22px;
}

.topnavleft .Logout:hover {
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    color: $bluePrimary;
}

@media screen and (max-width: 1050px) {
    .header {
        display: inline;
        padding-bottom: 5vh;
        .Name h1 {
            flex-direction: row;
            align-items: center;
            margin-right: 0 auto;
            z-index: 1;
            font-size: 40px;
        }
        .topnavleft {
            margin-top: 5vh;
            padding-top: 5vh;
            h1 {
                margin: 1vw;
                font-size: 22px;
                // .Logout {
                //     position: fixed;
                //     float: right;
                //     margin: 1vw;
                //     font-size: 22px; 
                // }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 5vh;
        .Name h1 {
            // flex-direction: column;
            z-index: 1;
            font-size: 30px;
        }
        .topnavleft {
            margin-top: 5vh;
            padding-top: 5vh;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            h1 {
                margin: 1vw;
                font-size: 16px;
            }
        }
    }
}