@import "../../variables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Register {
    display: flex;
    flex-direction: column;

    @include mainBox;
    h1 {
        color: $pinkPrimary;
    }
    .RegInfo {
        justify-content: center;
        margin-top: 3%;
        // margin-left: initial;
        color: $bluePrimary;
    }
        button {
            @include mainBtn;
            background-color: #fdabcb;
            color: black;            
        }
            button:hover {
                color: $pinkPrimary;
                background-color: black;
                font-weight: 600;
            }


}