@import "../../variables.scss";

.Dash  {

    flex-direction: column;
    .TopDash {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .Welcome {
            h1 {
                font-weight: 600;
                line-height: 1;
            }
            p{
                font-size: 1px;
                line-height: .2;
                &:hover {                   
                    color: ghostwhite;                    
                }
            }
        }
    .addResource button {
        @include mainBtn;
        background-color: $purpleSecond;
        color: black;
        &:hover {
            color: $purplePrimary;
            background-color: black;
            font-weight: 600;
        }    
    }
    .ResourceList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-between;
        .ResourceList .Vocabulary {
            flex-direction: row;
        }
    }
}

