.Dash {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Dash .TopDash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Dash .Welcome h1 {
  font-weight: 600;
  line-height: 1;
  color: white;
}

.Dash .Welcome p {
  font-size: 18px;
  line-height: 1;
  color: white;
}

.Dash .Welcome p:hover {
  color: #7ed957;
}

.Dash .addResource button {
  margin: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cinzel', serif;
  font-size: 25px;
  border-radius: 12px;
  background-color: #aba6fd;
  color: black;
}

.Dash .addResource button:hover {
  color: #a87dff;
  background-color: black;
  font-weight: 600;
}

.Dash .ResourceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-radius: 12px;
}

.Dash .ResourceList h3 {
  font-size: 18;
}

.Dash .ResourceList p {
  font-size: 16px;
}

.Dash .ResourceList a {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 16px;
}

.Dash .ResourceList a:hover {
  color: ghostwhite;
}

.Dash .ResourceList .Vocabulary {
  width: 20vw;
  background-color: #38b6ff;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .Verbs {
  width: 20vw;
  background-color: #FF70A6;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .Adjectives {
  width: 20vw;
  background-color: #7ed957;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .Adverbs {
  width: 20vw;
  background-color: #a87dff;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .Pronunciation {
  width: 20vw;
  background-color: #38b6ff;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .PodVid {
  width: 20vw;
  background-color: #FF70A6;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Dash .ResourceList .Misc {
  width: 20vw;
  background-color: #7ed957;
  padding: 3vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 450px) {
  .Dash {
    width: 100vw;
    margin-top: 5vh;
  }
  .Dash .TopDash .Welcome h1 {
    font-size: 22px;
  }
  .Dash .ResourceList h2 {
    font-size: 10px;
    word-wrap: break-word;
  }
  .Dash .ResourceList h3 {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 950px) {
  .Dash {
    width: 100vw;
    margin-top: 5vh;
  }
  .Dash .ResourceList h2 {
    font-size: 22px;
    word-wrap: break-word;
  }
}
/*# sourceMappingURL=DashboardSass.css.map */