@import "../../variables.scss";

.rlcontainer {
  background-image: linear-gradient(0.25turn, $greenPrimary, $bluePrimary);
  background-repeat: no-repeat;
  padding-top: 5vh;
  input {
    margin: 3vh;
  }
  .resourcelist {
    background-color: ghostwhite;

    padding-top: 3vh;
    .listitems {
        background-image: linear-gradient(0.25turn, $bluePrimary, $greenPrimary);
        width: 40vw;
        padding: 2vh;
        -webkit-box-shadow: 10px 15px 10px -6px rgba(39, 39, 39, 0.75);
        box-shadow: 10px 15px 10px -6px rgba(29, 29, 29, 0.75);
    }
  }
}
