.containerR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  line-height: 0.2;
  color: #a87dff;
}

.containerR .Resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: ghostwhite;
  margin: 15px;
  padding: 15px;
  width: 50vw;
  padding-bottom: 25px;
  -webkit-box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
}

.containerR .Resource .AddResourceInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.containerR .Resource .Field {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  line-height: 1.1;
  width: 20vw;
}

.containerR .Resource .Field .choices {
  font-size: 14px;
  color: grey;
}

.containerR .Resource input {
  margin: 10px;
  line-height: 1;
}

.containerR .Resource .bottomBtns button {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Cinzel', serif;
  font-size: 18px;
  border-radius: 14px;
  margin-right: 80px;
  margin-left: 80px;
}

.containerR .Resource .bottomBtns button:hover {
  color: #a87dff;
  background-color: black;
  font-weight: 600;
}

@media screen and (max-width: 450px) {
  .containerR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 22px;
    line-height: 1;
  }
  .containerR .Resource h1 {
    font-size: 28px;
  }
  .containerR .Resource h1 .AddResourceInput {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}

@media screen and (max-width: 950px) {
  .containerR {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerR .AddResourceInput {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}
/*# sourceMappingURL=AddResourceSass.css.map */