.App {
  text-align: center;
}


body {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  background-image: linear-gradient(0.25turn, #FF70A6, #38b6ff);
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 200;
}

a:link {
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
