$bluePrimary: #38b6ff;
$pinkPrimary: #FF70A6;
$greenPrimary: #7ed957;
$purplePrimary: #a87dff;


@mixin mainBtn {
    margin: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Elsie';
    font-size: 25px;
    border-radius: 12px;
        
}

@mixin mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    padding-bottom: 25px;
    -webkit-box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
    background-color: ghostwhite;
    width: 30vw;
    margin-top: 3%;
}