$bluePrimary: #38b6ff;
$pinkPrimary: #FF70A6;
$greenPrimary: #7ed957;
$purplePrimary: #a87dff;
$blueSecond: #9dd7f8;
$pinkSecond: #fdabcb;
$purpleSecond: #aba6fd;
$greenSecond:  rgb(191, 255, 180);

$MainFont: 'Cinzel', serif;
$SecFont: 'Raleway';

@mixin mainBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-direction: column; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    padding-bottom: 25px;
    -webkit-box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
            box-shadow: 10px 15px 10px -6px rgba(0, 0, 0, 0.75);
    background-color: ghostwhite;
    width: 30vw;
    margin-top: 3%;
}

@mixin mainBtn {
    // width: 5vw;
    margin: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
    border-radius: 12px;
        
}

@mixin smallBtn {
    margin: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    border-radius: 14px;
        
}

@mixin resourceDisplay ($catback) {
    width: 20vw;
    background-color: $catback;
    padding: 3vh;
    margin-top: 10px;
    margin-bottom: 10px;
    
}