.Auth {
    display: flex;   
    /* flex-direction: column; */
    justify-content: center ;
    margin-left: 60%;
    padding: 15px;
    box-shadow: 10px 15px 10px -6px rgba(0,0,0,0.75);
    background-color: ghostwhite;
    width: 30vw;
    margin-top: 3%;
}

/* .heartback {
    background-image: url(../../Assets/Pers-Proj.png);
    min-height: 380px;
    z-index: 0;
  } */

.Auth .Login {
    margin: 15px;
    color: #38b6ff;
    font-size: 20px;
    line-height: .5;
}

.Auth .Login p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.Auth .Login button {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Elsie';
    font-size: 20px;
    background-color: #9dd7f8;
    color: black;
    border-radius: 12px;
}

.Auth .Login button:hover {
    color: #38b6ff;
    background-color: black;
}

.Auth .Register {
    color:#FF70A6;  
}

.Auth .Register:hover {
    color: ghostwhite ;
    background-color: #FF70A6;
    height: 50px;
    line-height: 1.2;
}