.Auth {
    display: flex;   
    /* flex-direction: column; */
    justify-content: center ;
    margin-left: 60%;
    padding: 15px;
    box-shadow: 10px 15px 10px -6px rgba(0,0,0,0.75);
    background-color: white;
    width: 30vw;
    margin-top: 3%;
}

/* .heartback {
    background-image: url(../../Assets/Pers-Proj.png);
    min-height: 380px;
    z-index: 0;
  } */

.Auth .Login {
    margin: 10px;
    color: #7ed957;
    font-size: 20px;
    line-height: .5;
}

.Auth .Login p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.Auth .Login button {

}

.Auth .Login button:hover {

}