@import "../../variables.scss";

body{
    background-color: black;
    background-image: url("Cluster-1.png");
    background-position: 0% center;
}

.Auth {
    @include mainBox;
    background-color: white;
    margin-left: 60%;    
    .Login {
        margin: 10px;
        color: $bluePrimary;
        font-size: 20px;
        line-height: .5;
    }
        p {
            font-family: $SecFont;
            font-size: 18px;
        }
        button {
            @include mainBtn;
            background-color: #9dd7f8;
            color: black;

        }
        button:hover {
            color: $bluePrimary;
            font-weight: 600;
            background-color: black;
        }
        
        h1 {
            padding-bottom: 15px;
        }
        
        input {
            margin-bottom: 20px;
            padding: 5px;
        }
        
    .Register {
        @include mainBtn;
        color: $pinkPrimary;  
        background: white;
        font-size: 32px;
        line-height: 1.2;
        width: 12vw;
        box-shadow: none;
    }
        
    .Register:hover {
        @include mainBtn;
        color: ghostwhite ;
        background-color: $pinkPrimary;
        // height: 50px;
        line-height: 1.2;
        font-size: 32px;
    }
}

@media screen and (max-width: 450px) {
    .Auth {
        margin: auto;
        width: 80vw;
        margin-top: 5vh;
        input {
           width: 50vw;
        }
        button {
            margin: auto;
            width: 50vw;
        }
    }
}


@media screen and (max-width: 950px) {

}